@import url(https://fonts.googleapis.com/css2?family=Montserrat);

/* Shared */

html {
    position: relative;
    width: 100%;
    padding: 0px 50px 0px 50px;
    background: #ffffff;
    padding: 50px 0px 50px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
}

a {
    display: block;
}

img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #282828;
    padding: 0;
}

.header {
    position: relative;
    height: 100px;
}

.text {
    display: block;
    width: 100%;
    font-size: 22px;
}

.name-bar {
    display: block;
    position: relative;
    float: left;
    left: 10%;
    width: 20%;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
}

.content-box {
    display: block;
    position: relative;
    width: 80%;
    left: 5%;
    padding: 5%;
    background-color: rgb(197, 197, 197);
}

.container { /* puts stuff inside content box */
    position: relative;
    padding: 0% 5% 0% 5%;
    margin: auto;
    text-align: center;
}

.container-box { /* horizontal container */
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%; 
    margin: auto;
    text-align: center;
}

.half-box {
    display: flex;
    position: relative;
    width: 50%;
    padding: 0px 25px;
    align-items: center;
}

.heading {
    display: block;
    width: 100%;
    padding: 0px 0px 25px 0px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.nav-bar {
    position: absolute;
    right: 30%;
    width: 40%;
    height: 50px;
}

.link-bar {
    position: relative;
    float: right;
    right: 10%;
    width: 20%;
    height: 50px;
    text-align: center;
}

.social-img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.social-img-div {
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
}

.button {
    position: relative;
    display: block;
    color: #282828;
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.button:hover {
    color: #713aa8;
    cursor: pointer;
    -webkit-animation: hoverFading 0.5s;
    animation: hoverFading 0.5s;
}

@keyframes hoverFading {
    0% {color: #282828;}
}

@-webkit-keyframes hoverFading {
    0% {color: #282828;}
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
/* a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
} */

.img-box-100 {
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.img-box-50 {
    width: 50%;
    padding: 25px 0px 25px 0px;
}

.img-box-25 {
    display: inline-block;
    width: 25%;
    padding: 25px;
}

.center {
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}